<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay me</title>
</head>
<body>
    <form class="text-center border border-light p-5" action="pay-success" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> BUY ME A COFFEE!!</p>
        <p class="mb-3">Help us create more videos by donating 500 INR</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_Ggvw8pTdJ3SnAg"
        data-amount="50000"
        data-currency="INR"
        data-order_id="{{payment.id}}"
        data-buttontext="Pay with Razorpay"
        data-name="The Inquisitive"
        data-description="Knowledge is Boundless"
        data-image="https://theinquisitive.in/logo.png"
        data-prefill.name="PC"
        data-prefill.email="pc@studygyaan.com"
        data-theme.color="#F37254"></script>

    </form>

</body>
</html>